[Unit]
Description=Distributed C/C++ compiler
Documentation=man:distccd(1)
After=network.target

[Service]
User=distccd
ExecStart=/usr/bin/distccd --no-detach --daemon --log-stderr --log-level debug \
--allow 192.168.0.0/16 --allow 10.0.0.0/8 --allow 127.0.0.0/8 --allow 172.16.0.0/12
PrivateTmp=true
ProtectHome=true
PrivateDevices=true
SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @keyring @module @mount @obsolete @raw-io @reboot @swap
#Uncomment these next two lines when using socket activation for a tighter sandbox
#SystemCallFilter=~@network-io
#SystemCallFilter=accept accept4 setsockopt getsockopt

[Install]
WantedBy=multi-user.target

